* {
  box-sizing: border-box;
}

body {
	background-image: url(../images/brushed_alu_@2x.png);
	font-family: "Arial", "Helvetica Neue", sans-serif;
	color: #777777;
}

header {
	background-color: #ffffff;
	border-bottom: 2px solid #dddddd;
  	border-color: #cccccc;
  	margin-bottom: 34px;
}

h1,h2,h3,h4{
	font-family: "Georgia", "Times New Roman", serif;
}

nav {
	float: right;
}

nav ul li{
	display: inline-block;
	padding: 15px;
	line-height: 5px;
	margin-top: 25px;
}

nav ul li a {
	padding: 2.5px 5px;
	color: #777777;
	text-decoration: none;
}

nav ul li a:hover {
	color: #ffffff;
	background: #4aaaa5;
}


ul.buttons li.btn {
	display: inline-block;
}

ul.buttons li.btn img {
	max-width: 50px;
	margin-right: 10px;
}

form {
	font-family: "Arial", "Helvetica Neue", sans-serif;
}

label {
	display: block;
	font-size: 18px;
}

input[type="text"], input[type="email"] {
	width: 100%;
	height: 30px;
	margin-top: 5px;
	margin-bottom: 10px;
	border: 1px solid #dddddd;
	padding: 5px 10px;
	font-size: 15px;
}

textarea {
	width: 100%;
	height: 150px;
	margin-top: 10px;
	margin-bottom: 10px;
	border: 1px solid #dddddd;
	padding: 5px 10px;
	font-size: 15px;
}

input[type="submit"] {
	background: #4aaaa5;
	color: #ffffff;
	font-size: 20px;
	border: none;
	padding: 10px 20px;
}

li.hangman {
	background-image: url(../images/hangman.jpg);
}

li.rpg {
	background-image: url(../images/rpg.jpg);
}

li.trivia {
	background-image: url(../images/trivia.jpg);
}

li.ucsd {
	background-image: url(../images/ucsd.jpg);
}

li.rps {
	background-image: url(../images/rps.jpg);
}

footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	color: #acaaa6;
	background-color: #666666;
	text-align: center;
	border-top: 10px solid #4aaaa5;
	font-size: 10px;
	height: 90px;
	padding-top: 30px;
}

.hero {
	display: inline-block;
	padding: 30px 35px;
	background: #4aaaa5;
	font-size: 30px;
	color: white;
	font-weight: bold;
}

.title {
	margin-bottom: 35px;
	border-bottom: 5px solid #dddddd;
	padding:10px 0 30px 0;
	font-size: 30px;
	font-weight: bold;
	color: #4aaaa5;
}

.sidebar {
	margin-bottom: 25px;
	border-bottom: 5px solid #dddddd;
	padding-bottom: 15px;
	font-size: 20px;
	font-weight: bold;
	color: #4aaaa5;
}

.main{
	width: 960px;
	line-height: 25px;
	margin: 0 auto;
}

.middlenav {
	border-right: 1px solid #cccccc;
	border-left: 1px solid #cccccc;
}

.profilepic {
	float: left;
	max-width: 175px;
	margin-right: 20px; 
	margin-bottom: 5px;
}

.project-box {
	display: inline-block;
	width: 255px;
	height: 175px;
	position: relative;
	background-repeat: no-repeat;
	background-size: cover;
	margin-bottom: 40px;
	margin-right: 40px;
}

.box-ribbon {
	display: inline-block;
	padding: 12px 0;
	position: absolute;
	width: 100%;
	text-align: center;
	background: #4aaaa5;
	color: #fff;
	bottom: 13px;
	font-size: 22px;
}

#left {
	float: left;
	background: #ffffff;
	width: 650px;
	border: 1px solid #dddddd;
	padding: 25px;
	margin-bottom: 100px;
}

#right {
	float: left;
	background: #ffffff;
	width: 270px;
	border: 1px solid #dddddd;
	padding: 25px;
	margin-left: 75px;
}